//- banner.jade
div.row.service-container
  div.col-lg-12.service-header
    div.row.top-nav.navbar-fixed-top
      div.container
          div.heading.left Rascali 
            span.top-nav--logo-wdc.smallhead Natural Language Classifier Experiment
