//- index.jade
extends ./layout.jade

block row-content
  div.container
    div.row
        h2.headclr Training data
          div
              button.btn.train-btn Train
              button.btn.check-btn Check

      div.col-lg-12
        h2.headclr Ask about [military or something else? WIP..]
          p
            span.greenclr (I think this part can be swapped into voice input, image recognition part)
        div.row
          div.col-lg-10.col-md-10.col-xs-8
            input.questionText.form-control(placeholder='Enter a question', required='true')
          div.col-lg-2.col-md-2.col-xs-4
            button.btn.btn-block.ask-btn Ask
      div.col-lg-12(style='height:300px;')
        div.row
          h2.answerclr Output
            p
              span.greenclr (I think this part can be swapped into voice input, image recognition part)
        div.row.loading(style='display:none')
          div.col-lg-12.col-xs-12.text-center
            img(src='images/watson.gif', width='110px')
        div.results(style='display:none')
          div.well
            p 
              span.classification
              p 
                strong Accuracy: 
                span.confidence
        div.error(style='display:none;')
          h2 Error
          div.well
            div.errorMsg
