.errorMsg {
  font-weight:bold;
  color:red;
  white-space: pre-wrap;
}

.example-questions {
 margin: 5px;
}

.example-questions a {
	display: block;
	cursor: pointer;
	text-decoration: none;
}
.confidence {
	color: #22d65b;
}

.classification {
	color: #d74108;
}
.ask-btn {
	height: 2.5em;
	padding: 0em;
}

.smallhead {
	font-size: 14px;
	color: #e8eef2;
}

.greenclr {
	color: #d2dee6 !important;
}

.headclr {
	color: #ff7373 !important;
}

.answerclr {
	color: #39b9a1 !important;
}